<div *ngIf="product.title">
  <label *ngIf="componentLabel" for="card">{{ componentLabel }}</label>
  <div class="card" name="card">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
    <div class="card-body">
      <h4 class="card-title">{{ product.title }}</h4>
      <p class="card-text">{{ product.price | currency:'PLN' }}</p>

    </div>
    <div *ngIf="showActions" class="card-footer">
      <button
        *ngIf="showActions"
        (click)="addToCart(product)"
        class="btn btn-primary btn-block"
        >Add to cart
      </button>
      <div>{{ getQuantity() }}</div>
      <button
      (click)="logThat(product)"
      class="btn btn-primary btn-block"
      >LogThat
    </button>
    </div>
  </div>
</div>

